<configuration>
	<connectionStrings>
  <add name="OrderDBConnectionString" connectionString="Data Source=UDIT\SQLEXPRESS;Initial Catalog=OrderDB;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation targetFramework="4.7.2" debug="true"/>
		<!-- or your desired version -->
		<!-- Other settings -->
	</system.web>
</configuration>
